*CMakeFiles/
src/Applications/build-BrickMoney-Qt_5_12_5_MSVC2017_64bit-Debug/
src/Applications/build-BrickMoney-Qt_5_12_5_MSVC2017_64bit-Release/
src/Thirdparty/OpenSSL/1.1.1d/src/
src/Applications/build-TableViewExample_Controls_1-Qt_5_12_5_MSVC2017_64bit-Default/
CMakeLists.txt.user
src/Applications/BrickMoney/build-cl15-x64/
src/Applications/build-BrickMoney-Qt_5_12_5_MSVC2017_64bit_2-Debug/
src/Applications/build-BrickMoney-Qt_5_12_5_MSVC2017_64bit_2-Release/
src/Applications/BrickMoney/CMakeLists.txt.user.4.10-pre1
src/BrickMoneyDatabase/images/
src/scripts/GenerateLegosetDatabase/BrickMoneyDatabase/images/
src/scripts/GenerateLegosetDatabase/BrickMoneyDatabase/imagesUpdated/
src/scripts/GenerateLegosetDatabase/images_pass_001/
src/scripts/GenerateLegosetDatabase/generate_telemetry_docu.py
src/scripts/GenerateLegosetDatabase/update_test_theme_images.py
src/Applications/build-BrickMoney-Qt_5_14_0_MSVC2017_64bit-Release/
src/Applications/build-BrickMoney-Qt_5_14_0_MSVC2017_64bit-Debug/
/src/Applications/build-BrickMoney-Qt_5_15_0_MSVC2017_64bit-Release/
/src/build-cl15-x64/
/build-src-Qt_5_15_0_MSVC2017_64bit-Release/
/src/Applications/build-BrickMoneyWidget-Qt_5_12_5_MSVC2017_64bit-Release/
/src/Applications/BrickMoneyWidget/CMakeLists.txt.user.4.10-pre1
/src/Modules/KDDockWidgets/build/
/src/build/
/src/Thirdparty/KDDockWidgets/1.1.95/
/src/Applications/ODBC_Example/build/
/src/Applications/build-BrickMoneyManager-Qt_5_15_0_MSVC2017_64bit-Debug/
